<div class="page-width">
  <div class="section-block nbgd-header">
    <div class="left">
      <h1 class="nbgd-h1 nbgd-header__title">buy a gift card now, for later.</h1>
      <div class="nbgd-header__subtext">
        <h5 class="nbgd-h5 nbgd-h5--secondary">we're looking at your toronto.</h5>
        <p>Support your fave local businesses today with gift cards you can redeem later, during more social times.</p>
        <a href="https://boxcarsocial.ackroo.net/en/gifts/new" target="_blank" rel="noopener noreferrer" class="btn">shop gift cards</a>
      </div>
    </div>
    <div class="right nbgd-header__image-wrapper">
      {% assign img_url = section.settings.nbgd-header-image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
      <img class="nbgd-header__image lazyload"
        src="{{ section.settings.nbgd-header-image | img_url: '300x300' }}"
        data-src="{{ img_url }}"
        data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]"
        data-sizes="auto"
        alt="{{ section.settings.nbgd-header-image-alt | escape }}">
    </div>
  </div>

  <div class="section-block nbgd-join-banner-container box-shadow">
    <div class="nbgd-join-banner">
      <div class="left nbgd-join-banner__image-wrapper">
        {% assign img_url = section.settings.nbgd-banner-image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
        <img class="nbgd-join-banner__image lazyload"
          src="{{ section.settings.nbgd-banner-image | img_url: '300x300' }}"
          data-src="{{ img_url }}"
          data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]"
          data-sizes="auto"
          alt="{{ section.settings.nbgd-banner-image-alt | escape }}">
      </div>
      <div class="right">
        <h2 class="nbgd-h2">are you a small business?</h2>
        <h5 class="nbgd-h5 nbgd-h5--secondary">join for free!</h5>
        <p>We’ll get you set up and accepting cash-flow right into your business account(s). Did we mention it’s free?</p>
        <a href="https://boxcarsocial.ackroo.net/en/gifts/new" target="_blank" rel="noopener noreferrer" class="btn">sign me up</a>
      </div>
    </div>
  </div>


  <div class="section-block nbgd-info-block">
    <h1 class="nbgd-h1 nbgd-info-block__title">how it works.</h1>
    <div class="nbgd-info-block__container">
      <div class="left">
        <div class="info">
          <div class="info__number-circle">
            <h5 class="info__number">1</h5>
          </div>
          <div class="info__text-container">
            <h5 class="nbgd-h5 info__title">all you need is a free payment processor.</h5>
            <p>(Stripe • Square • PayPal)</p>
          </div>
        </div>
        <div class="info">
          <div class="info__number-circle">
            <h5 class="info__number">2</h5>
          </div>
          <div class="info__text-container">
            <h5 class="nbgd-h5 info__title">money instantly gets wired to you, direct.</h5>
            <p>(when you sell a gift card)</p>
          </div>
        </div>
        <div class="info">
          <div class="info__number-circle">
            <h5 class="info__number">3</h5>
          </div>
          <div class="info__text-container">
            <h5 class="nbgd-h5 info__title">track redemption later with an easy app.</h5>
            <p>(Gift Up! to be exact)</p>
          </div>
        </div>
        <div class="info info--margin">
          <a href="https://boxcarsocial.ackroo.net/en/gifts/new" target="_blank" rel="noopener noreferrer" class="info__link">
            <h5>full details<span>&nbsp;&gt;</span></h5>
          </a>
        </div>
        <div class="info">
          <p>already sell gift cards on your own site? <span>we’ll help drive traffic.</span></p>
        </div>
      </div>
      <div class="right">
        <div class="box-shadow testimonial">
          <div class="testimonial-quote testimonial-quote--top">
            <img class="testimonial-quote__image lazyload"
              src="{{ section.settings.nbgd-testimonial-image | img_url: '300x300' }}"
            />
          </div>
            <h2 class="nbgd-h2">Emily’s the best. She got us set up to sell in no time.</h2>
            <p><b>Lorraine</b></p>
            <p>The Maker Bean Cafe</p>
          <div class="testimonial-quote testimonial-quote--bottom">
            <img class="testimonial-quote__image lazyload"
              src="{{ section.settings.nbgd-testimonial-image | img_url: '300x300' }}"
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ONLY SHOW THIS ON MOBILE -->
  <div class="section-block testimonial--mobile box-shadow">
    <div class="testimonial">
      <div class="testimonial-quote testimonial-quote--top">
        <img class="testimonial-quote__image lazyload"
          src="{{ section.settings.nbgd-testimonial-image | img_url: '300x300' }}"
        />
      </div>
        <h2 class="nbgd-h2">Emily’s the best. She got us set up to sell in no time.</h2>
        <p><b>Lorraine</b></p>
        <p>The Maker Bean Cafe</p>
      <div class="testimonial-quote testimonial-quote--bottom">
        <img class="testimonial-quote__image lazyload"
          src="{{ section.settings.nbgd-testimonial-image | img_url: '300x300' }}"
        />
      </div>
    </div>
  </div>

  <div class="section-block nbgd-signup-banner box-shadow">
    <div class="left">
      <h1 class="nbgd-h1 nbgd-signup-banner__title">money.<br class="break--mobile"/> i wanna start selling cards.</h1>
    </div>
    <div class="right">
      <div>
        <a href="https://boxcarsocial.ackroo.net/en/gifts/new" target="_blank" rel="noopener noreferrer" class="btn btn--nbgd">sign up free now</a>
      </div>
      <div class="nbgd-signup-banner__link">
        <a href="https://boxcarsocial.ackroo.net/en/gifts/new" target="_blank" rel="noopener noreferrer" class="nbgd-link nbgd-link--secondary">shop cards instead</a>
      </div>
    </div>
  </div>

  <div class="section-block nbgd-questions-block">
    <h1 class="nbgd-h1 nbgd-questions-block__title">have questions?</h1>
    <p class="nbgd-questions-block__subtext">We’re here to help.
      <a href="www.google.com" class="nbgd-link"><span>Reach out&nbsp;</span></a>anytime!</p>
  </div>
</div>



{% schema %}
{
  "name": {
    "en": "Custom Homepage"
  },
  "class": "index-section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": {
        "en": "Heading"
      },
      "default": {
        "en": "Subscribe to our newsletter"
      }
    },
    {
      "type": "richtext",
      "id": "subheading",
      "label": {
        "en": "Subheading"
      },
      "default": {
        "en": "<p>Promotions, new products and sales. Directly to your inbox.</p>"
      }
    },
    {
      "type": "paragraph",
      "content": {
        "en": "Any customers who sign up will have an account created for them in Shopify. [View customers](/admin/customers?query=&accepts_marketing=1)"
      }
    },
    {
      "type": "text",
      "id": "commentText",
      "label": "Text"
    },
    {
        "type": "url",
        "id": "url",
        "label": "Link to another page"
    },
    {
        "type": "text",
        "id": "linkText",
        "label": "Link Text"
    }	,
    {
      "type": "image_picker",
      "id": "nbgd-header-image",
      "label": "Header Image"
    },
    {
      "type": "image_picker",
      "id": "nbgd-banner-image",
      "label": "Banner Image"
    },
    {
      "type": "image_picker",
      "id": "nbgd-testimonial-image",
      "label": "Testimonial Image"
    }
  ],
  "presets": [
    {
      "name": {
        "en": "TEMPLATE"
      },
      "category": {
        "en": "NBGD Custom Sections"
      }
    }
  ]
}
{% endschema %}
